header {
    background-color: #201f1f; 
    padding: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    max-width: 100%; 
    margin: 0 auto; 
    height: 13%;
  }
  
  .logo {
    margin-left: 2rem;
    width: 100px; 
    height: 100px; 
    border-radius: 50%; 
    background-color: #444240; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    overflow: hidden; 
    transition: background-color 0.3s ease;
}
  
  .logo i {
    font-size: 80px;
    color: #fff; 
    line-height: 50px; 
  }

  .logo:hover {
    background-color: orange; 
  }
  

  .left-text {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    

    .hover-text {
      font-size: 28px; 
      color: #fff; 
      margin-right: 2rem;
      margin-bottom: 10px; 
    }
  
    .header-name {
      font-size: 28px;
      position: relative;
      color: #fff;
      padding: 0;
      margin-top: 10px;
    
    }
  }
 

  


  


  
