<div class="block">
    <h4 class="title">BLOK PIERWSZY</h4>
    <div class="option">
        <input type="radio" id="radio1" name="firstBlockOption" value="option1" [checked]="selectedOption === 'option1'">
        <label for="radio1">Opcja pierwsza</label>
    </div>

    <div class="option">
        <input type="radio" id="radio2" name="firstBlockOption" value="option2" [checked]="selectedOption === 'option2'">
        <label for="radio2">Opcja druga</label>
    </div>

    <div class="option">
        <input type="radio" id="radio3" name="firstBlockOption" value="option3" [checked]="selectedOption === 'option3'">
        <label for="radio3">Opcja losowa</label>
    </div>
  </div>