$text-color: #fff;

.block {
    margin-left: 2rem;
    flex-direction: column; 
    justify-content: center;
    color: $text-color;
    
}

.title {
    text-align: center;
    margin-bottom: 75px;
}
  
  .block label {
    margin-left: 0.5rem;
  }

.option {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: grey;
}

.option input[type="radio"] {
    width: 20px; 
    height: 20px; 
    border-radius: 50%; 
    accent-color: #fff; 
  }

  .option input[type="radio"]:checked + label {
    color: $text-color; 
  }
