$text-color: #fff;
$back-color: #494a58;

.block {
    flex: 2;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    
    color: $text-color;
}

.title {
    text-align: center;
    margin-bottom: 75px;
}
  

  .buttons {
    display: flex; 
    align-items: center; 
    justify-content: center;
    width: 400px; 
    height: 50px;
  }


  .button {
    background-color: $back-color; 
    border: 1px solid white;
    color: grey;
    padding: 15px 60px 15px 60px;
    margin: 45px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .button:hover {
    background-color: orange;
    color: white;
  }