$text-color: #fff;
$back-color: #494a58;

.block {
   
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    color: $text-color;
    
}

.title {
    text-align: center;
    margin-bottom: 4.7rem;
}
  

  .buttons {
    display: flex; 
    align-items: center; 
    justify-content: center;
    width: 25rem; 
    height: 3.125rem;
  }


  .button {
    background-color: $back-color; 
    border: 0.2rem solid white;
    color: grey;
    padding: 2% 8%;
    margin: 3%;
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 0.3rem;
  }
  
  .button:hover {
    background-color: orange;
    color: white;
  }